# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs and debug
*.log
catboost_info/

# Environment files
.env
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db

# Data files (optional)
*.zip
*.tar.gz

# VS Code settings (optional)
.vscode/